.date, .appointments {
    overflow: hidden;
    text-overflow: ellipsis;
    height: inherit;
    width: inherit;
    text-align: center;
}

.calendar {
    padding: 24px;
    background: #fff;
}

.tag {
    width: 100%;
    text-align: center;
}