.date, .appointments {
    overflow: hidden;
    text-overflow: ellipsis;
    height: inherit;
    width: inherit;
    list-style-type: none;
}

ul li::before {
    content: "\23F5";
    color: blue;
    font-weight: bold;
    font-size: smaller;
    display: inline-block;
    width: 15px;
    margin-left: -3em;
}

.calendar {
    padding: 24px;
    background: #fff;
}