.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: lightgray;
    height: 100%;
    padding-left: 20%;
    padding-right: 20%;
}

.form {
    width: 300px;
    padding: 3em;
    border-radius: 5px;
    background-color: white;
    margin: auto;
    min-height: 450px;
}