@import '../../node_modules/antd/dist/antd.css';

.container {
    text-align: center;
    height: inherit;
}

.content {
    margin: 24px 16px 0;
}

.calendar {
    padding: 24px;
    background: #fff;
}

.menu-bar {
    background-color: lightskyblue;
}