.back {
    text-align: left;
}

.minutes:nth-child(1) {
    margin-top: -16px;
}

.minutes {
    height: 10px;
}

.custom-row {
    display: grid;
    position: relative;
    grid-template-columns: 1fr 4fr;
    height: 120px;
}

.custom-row > td {
    display: block;
    height: 120px;
    border: 1px solid lightgrey;
}

.appointment {
    display: inline-block;
    position: relative;
    width: 100px;
    border: 1px solid navy;
    background-color: lightskyblue;
    overflow: hidden;
    z-index: 1;
}

.table-container {
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.menu-container {
    max-width: 800px;
}